.find .find__options {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 16px;
}

.find__options .find__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding : 0px 24px 0px 32px;
  color : #523737;
}

.find__option i {
  margin-bottom: 16px;
}

.find__option .find__option--title {
  font-size: 11px;
  font-weight: 400;
}

.find__recommended header {
  border-top : 0.5px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  font-size: 12px;
  color:#b4b4b4;
}

.find__recommended .recommended__title{
  font-weight: 400;
}

.recommended__none{
  padding: 16px 0px;
  text-align: center;
  border-bottom: 1px solid #ddd;

}

.recommended__none .recommended__text {
  font-size: 14px;
  color: #777;
}
