body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  /* padding-bottom: 60px; */
  background-color: #ffffff;

}

main {
  animation: 0.5s mainOpener ease;
}

@keyframes mainOpener {

  from {
    opacity: 0;
    transform:translateY(5px);
  }

  to {
    opacity: 1;
  }
}
