body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f1f1f1;
}
